---
#header
---
@import "minima";

.custom-banner{
  background-color: black;
  font-size: 80% !important;
  color: white;
  display: flex;
  justify-content: center;
  padding: 6px 0px;
}

//home
/*.home-text-title{
  background-color: aqua;
  display: flex;
  justify-content: center;
  width: 75%;
  font-size: 500%;
  font-weight: bold;
}

.home-container{
  display: flex;
  justify-content: center;
  //background-image: url("../../../assets/contour-lines.svg");
}
.home-text{
  width: 62%;
  //background-color: white;
}
.home-title{
  font-weight: bold;
  font-size: 500%;
  line-height: 95%;
  margin-bottom: 5%;
}

.home-register-button{
  margin-top: 5%;
  width: 32%;
  padding: 16px 0px;
  background-color: black;
  color: white !important;
  justify-content: center;
  font-size: 102%;  
}*/